{% extends "layout.html" %}

{% block title %}
    Flights
{% endblock %}

{% block body %}

    <h1>Book a Flight</h1>
    <!--Form displays a dropdown list of all flights as options for user to choose from. -->
    <form action="{{ url_for('book') }}" method="post">

        <div class="form-group">
            <select class="form-control" name="flight_id">
                <!-- This section reads each flight from the flights list and displays in dropdown list -->
                {% for flight in flights %}
                    <!-- When flight is picked from list, the value flight.id is returned -->
                    <option value="{{ flight.id }}">{{ flight.origin }} to {{ flight.destination }} - Duration: {{flight.duration}} minutes</option>
                {% endfor %}
            </select>
        </div>
        <!-- This field in form allows user to enter passenger name -->
        <div class="form-group">
            <input class="form-control" name="name" placeholder="Passenger Name">
        </div>
        <!-- On button press, this form POSTS to the /book route when button is pressed -->
        <div class="form-group">
            <button class="btn btn-primary">Book Flight</button>
        </div>

    </form>
{% endblock %}
